<p><%= t('.recent_uploads')%></p>

<% @user_photos.each do |user, photos| %>
	<p><%= t('.has_uploaded').gsub('{{name}}', user.name) %></p>
	<div class='images'>
		<%= render :partial => 'photo', :collection => photos %>
	</div>
<% end %>
