.DS_Store
.rake_tasks~
.bundle

config/database.yml
config/config.yml
config/deploy.rb
config/environments/{production.rb

doc/api
log/*.log
tmp
tmp/**/*
db/*.sqlite3
bin/*
vendor/bundler_gems/*
!vendor/bundler_gems/ruby/1.8/cache/
public/assets
