.DS_Store
.rake_tasks~
config/database.yml
config/config.yml
doc/api
log/*.log
tmp
tmp/**/*
db/*.sqlite3
bin/*
vendor/bundler_gems/*
!vendor/bundler_gems/ruby/1.8/cache/
public/assets
config/deploy.rb
.bundle
