.post.box
  .avatar= link_to image_tag(post.user.avatar.url(:small)), post.user
  = raw post.body
  .meta
    %span.date=l post.created_at, :format => :long
    \-
    %span.name= post.user.name
    - if post.removable_by?(current_user)
      \-
      %span.delete= link_to t(".delete"), delete_post_path(post.id), :confirm => t(".confirm")
