%h1 Dashboard

%h2 My Albums

- if @albums.empty?
  .no-items You don't have any albums yet
- else
  = render :partial => "albums/album", :collection => @albums

.section_commands
  = link_to "New Album", new_album_path