- style ||= :thumb
.album{ :class => style.to_s }
  .thumbnail= link_to image_tag(album.thumbnail_url(style), :size => "128x128"), album
  .name= link_to album.name, album
  .stats #{t(".photos")}: #{album.photos.count}
