%h1 All Albums

.commands
  = link_to "New Album", new_album_path
  
- if @owners_to_albums.empty?
  .no-item There are no albums yet
- else
  - @owners_to_albums.sort_by { |owner, albums| owner.name }.each do |owner, albums|
    = render :partial => "owner_albums", :locals => { :owner => owner, :albums => albums }
