!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %style{ :type => "text/css", :media => "screen" }
      :plain
        .images { overflow: hidden; width: 800px; }
        .image img { float: left; width: 256px; height: 256px; background: #ccc; margin: 0 10px 10px 0; }

  %body
    = yield
