!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %style{ :type => "text/css", :media => "screen" }
      :plain
        .images { overflow: hidden; width: 800px; }
        .image img { float: left; width: 256px; height: 256px; background: #ccc; margin: 0 10px 10px 0; }
        .photo_comments { overflow: hidden; margin-bottom: 40px; }
        .thumb { width: 128px; height: 128px; background: #ccc; margin: 0 20px 20px 0; float: left; }
        .comments { margin-left: 148px; }
        .comment { margin: 0 20px 20px 0; padding: 10px; background: #eee; }
        .comment span { font-weight: bold; }

  %body
    = yield
